@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --clr-primary :  #E02D2D;
    --clr-black : #191919;
    --clr-white : #EEF2F5;


    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--clr-black);
}