@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


:root{
    --clr-primary :  #E02D2D;
    --clr-black : #191919;
    --clr-white : #EEF2F5;


    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--clr-black);
}

/*utilidades*/

section {
    display: flex;
    flex-direction: column;

    padding: 2rem 1.5rem;
}

.btn{
    background-color: var(--clr-primary);
    width: fit-content;

    padding: 0.75rem 1rem;
    border-radius: 6px;

    font-size: 14px;
    color: var(--clr-white);
    text-decoration: none;

    transition: transform 150ms;
}

.btn:hover {
    transform: scale(1.02);
}

.w-100{
    width: 100%;
}

section >h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;

    text-transform: uppercase;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;

    background-color: var(--clr-black);
    color: var(--clr-white);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

header nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header nav a {
    color: var(--clr-white);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

header h1 {
    font-size: 22px;
    font-weight: 500;
}

/*home*/

#home {
    justify-content: center;
    
    height: 700px;
    
    padding-inline: 0rem;
}

.home-cta {
     display: flex;
     flex-direction: column;
      gap: 2.5rem;  
      height: 400px;
      
      background-image: url('/assets/img/Darth-IMG.jpg');
      background-repeat: no-repeat;
      background-position: rem;
      background-size: 300px;
}




.home-heading {
    flex-direction: column;
    display: flex;
}

.home-heading >h1 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;

    margin: 0%;
}

.home-heading > p {
    line-height: 150%;

    margin: 0%;
}

/*sobre*/

#sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--clr-black);
    color: var(--clr-white);
}

.sobre-links{
    display: flex;
    justify-content: space-between;

    gap: 1.5rem;
}

.imagem-eu {
    width: 100%;
    height: auto;

    border-radius: 4px;
}

/*projetos*/

#projetos {

}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 1.25rem;
    border-radius: 4px;
}

.card >img {
    width: 100%;
    border-radius: 8px;
}

.cord h3 > {
    font-size: 18px;
    font-weight: 500;
}

/*serviços e conhecimentos*/

#servicos {
    display: flex;
    flex-direction: column;
    gap: 40px;


    background-color: var(--clr-black);
    color: var(--clr-white);

}

.base-list {
    display:flex ;
    list-style: none;

    margin: 0;
    padding: 0;
}


.base-list > li {
    background-color: var(--clr-primary);
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
}

.s-list {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.c-list {
    flex-wrap: wrap;
    gap: 20px;
}

/*contato*/

#contato {
    gap: 3rem;
    padding-block: 4rem;
}

#contato >h2 {
    margin: 0;
}

#contato >ul {
    flex-direction: column;
    display: flex;
    gap: 0.75rem;

    margin: 0;
    padding: 0;

    list-style: none;
}

#contato > ul > li {
    font-size: 18px;
    font-weight: 500;
}

#contato a {
    color: var(--clr-black);
    text-decoration: none;
}

#contato >cite {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;

    text-transform: uppercase;
}

/*footer*/

footer {
    background-color: var(--clr-primary);

    display:flex ;
    align-items: center;
    justify-content: center;
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--clr-black);
    text-decoration: none;

    font-size: 16px;
    font-weight: 300;
}

footer img {
    height: 24px;
    padding-block: 1.5rem;
}